fastapi
uvicorn
motor
pymongo
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-dotenv
opencv-python
mediapipe==0.10.9
protobuf==3.20.3
numpy
scikit-learn
razorpay
protobuf==3.20.3
